.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    background-size: cover;
    background-image: url(../images/background_header.svg);
  }